<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>SchemeUserState</key>
    <dict>
      <key>behaviour.xcscheme</key>
      <dict>
        <key>orderHint</key>
        <integer>0</integer>
      </dict>
    </dict>
    <key>SuppressBuildableAutocreation</key>
    <dict>
      <key>81C787191F20CBD100824EBC</key>
      <dict>
        <key>primary</key>
        <true />
      </dict>
      <key>81C7872D1F20CBD200824EBC</key>
      <dict>
        <key>primary</key>
        <true />
      </dict>
      <key>81C787381F20CBD200824EBC</key>
      <dict>
        <key>primary</key>
        <true />
      </dict>
    </dict>
  </dict>
</plist>
